.category {
    display: flex;
    width: 100%;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 16px;
}

.item ,.active {
    display: flex;
    align-items: flex-start;
    padding: 10px 16px;
    border: none;
    border-radius: 32px;
    background-color: #F2F4F5;

}

.active {
    background-color: #E7E7FF;
    color: #E7E7;
}

::-webkit-scrollbar{
    display: none;
}