.header {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    background: #fff;
    border-bottom: 1px solid #F2F4F5;
    flex-direction: column;
    gap: 16px;
}

.title{
    font-size: 30px;
}
.date{
    font-size: 16px;
}