@font-face {
  font-family: 'ClearSans';
  src: url("./assets/fonts/ClearSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'ClearSans', sans-serif;}

.container{
  padding: 20px;
  min-height: 100vh;
}